/*Task_90_1*/
#elem {
        width: 200px;
        height: 200px;
        background-color: rgb(126, 137, 235);
    }

/*Task_90_2*/
#elem1 {
    width: 300px;
    height: 200px;
    color: white;
    background-color: rgb(77, 238, 153);
    text-align: center;
    font-size: 30px;
}

/*Task_92*/
#elem3 {
	width: 300px;
	height: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
}

/*Task_93*/
#elem4 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}

/*Task_94*/
#elem5 {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}

#elem6 {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}