/*Task_90_1*/
#elem {
        width: 200px;
        height: 200px;
        background-color: rgb(126, 137, 235);
    }

/*Task_90_2*/
#elem1 {
    width: 300px;
    height: 200px;
    color: white;
    background-color: rgb(77, 238, 153);
    text-align: center;
    font-size: 30px;
}

/*Task_92*/
#elem3 {
	width: 300px;
	height: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
}

/*Task_93*/
#elem4 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}

/*Task_94*/
#elem5 {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}

/*Task_96*/
#elem6 {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}

/*Task_97_1*/

#elem7 {
    border: 1px solid red;
    width:300px;
    height: 200px;   
}

/*Task_97_2*/

#elem8 {
    border: 2px dotted blue;
    width:300px;
    height: 200px;
}

/*Task_97_3*/

#elem9 {
    border: 3px dashed green;
    width:300px;
    height: 200px;
}

/*Task_97_4*/

#elem10 {
    border: 5px double orange;
    width:300px;
    height: 200px;
}