.tittle {
    h1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium';
    }
}

/*task_220*/
#parent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* фиксированные размеры столбцов */
    border: 2px solid #696989;
    padding: 10px;
    width: 650px; /* общая ширина родительского элемента */
  }
  
  #parent1 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  #parent2 {
    display: grid;
    grid-template-columns: repeat(2, 200px); /* два столбца по 200px */
    border: 2px solid #696989;
    padding: 10px;
    width: 405px;
  }
  
  #parent2 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  #parent3 {
    display: grid;
    grid-template-columns: repeat(3, 150px); /* 3 столбца по 150px */
    border: 2px solid #696989;
    padding: 10px;
    width: 445px;
  }
  
  #parent3 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  #parent4 {
    display: grid;
    grid-template-columns: 100px 150px 200px; /* фиксированные размеры столбцов */
    border: 2px solid #696989;
    padding: 10px;
    width: 445px; /* общая ширина родительского элемента */
  }
  
  #parent4 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
    text-align: center;
  }

  /*task#221*/

  #parent5, #parent6, #parent7 {
    display: grid;
    border: 2px solid #696989;
    padding: 10px;
    width: 550px; /* общая ширина родительского элемента */
  }
  
  #parent5 > div {
    background-color: #f0f0f0;
    border: 1px solid #696989;
    padding: 20px;
    text-align: center;
  }

  
  #parent6 > div {
    background-color: #f0f0f0;
    border: 1px solid #696989;
    padding: 20px;
    text-align: center;
  }

  
  #parent7 > div {
    background-color: #f0f0f0;
    border: 1px solid #696989;
    padding: 20px;
    text-align: center;
  }

  #parent5 {
    grid-template-columns: repeat(2, 1fr); /* два столбца одинаковой ширины */
  }

  #parent6 {
    grid-template-columns: repeat(3, 1fr); /* 3 столбца одинаковой ширины */

  }

  #parent7 {
    grid-template-columns: 1fr 1fr 2fr; /* третий столбец в два раза шире первых двух */
  }

  /*task#222*/
  #parent8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent8 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  #parent9 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr; /* второй столбец в 1.5 раза больше первого, третий — в 2.5 раза */
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent9 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  /*task#223*/
  #parent10 {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent10 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  #parent11 {
    display: grid;
    grid-template-columns: 100px 1fr 1.5fr 100px;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent11 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }
  
  /*task224*/

  #parent12 {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent12 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  #parent13 {
    display: grid;
    grid-template-columns: 100px 20% 1fr 2fr 4fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent13 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  /*task_225*/
  #parent14 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent14 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  #parent15 {
    display: grid;
    grid-template-columns: repeat(4, 100px) repeat(3, 2fr); /* четыре столбца по 100px и три столбца по 2fr */
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent15 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  #parent16 {
    display: grid;
    grid-template-columns: repeat(2, 100px) repeat(3, 200px) 1fr repeat(2, 10%); /* 2 столбца по 100px, 3 по 200px, 1fr и 2 по 10% */
    border: 2px solid #696989;
    padding: 10px;
    width: 1030px;
  }
  #parent16 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;

  }

  /*task#226*/

  #parent17 {
    display: grid;
    grid-template-columns: 200px auto;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent17 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  #parent18 {
    display: grid;
    grid-template-columns: 100px 150px auto;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
  }
  #parent18 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  /*task#227*/

  #parent19 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent19 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  /*task#228*/

  #parent20 {
    display: grid;
    grid-template-columns: 100px repeat(3, minmax(150px, 1fr)); /* Первый столбец фиксирован, остальные 3 — с minmax */
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent20 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  /*task#229*/
  #parent21 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent21 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  #parent22 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Четыре колонки */
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent22 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

 
    /*task#230*/
    
  #parent23 {
    display: grid;
    grid-template-rows: 100px 150px 200px;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent23 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  #parent24 {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #696989;
    padding: 10px;
    width: 800px;
  }
  #parent24 > div {
    padding: 10px;
    border: 1px solid #696989;
    background-color: #f0f0f0;
  }

  /*task#231*/

  #parent25 {
    display: grid;
    grid-template: 1fr 2fr/ 0.5fr 1fr 1fr 2fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
  }
  #parent25 > div {
    padding: 10px;
    border: 1px solid #696989;
  }

  #parent26 {
    display: grid;
		grid-template: 1fr 2fr/ 2fr 1fr 1fr 2fr;
		border: 2px solid #696989;
		padding: 10px;
		width: 600px;
		height: 200px;
  }
  #parent26 > div {
    padding: 10px;
    border: 1px solid #696989;
  }

  #parent27 {
    display: grid;
    grid-template: 1fr 1fr 2fr 4fr/ 0.5fr 1.5fr 3fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
  }
  #parent27 > div {
    padding: 10px;
    border: 1px solid #696989;
  }

  #parent28 {
    display: grid;
    grid-template: 2fr 1fr 1fr / 2fr 1fr 2fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
  }
  #parent28 > div {
    padding: 10px;
    border: 1px solid #696989;
  }

  #parent29 {
    display: grid;
    grid-template: 2fr 1fr / repeat(2, 0.5fr) 1fr repeat(2, 2fr);
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
  }
  #parent29 > div {
    padding: 10px;
    border: 1px solid #696989;
  }