/* Task#61_1 */

.eee .bbb {
            color: red;
        }
 /* Task#61_2*/

 .winx h2 {
     color: red;
        }

/* Task#61_3 */

.nature h2.lake {
    color: red;
}

/* Task#61_4 */

.love h3.kiss {
	color: red;
}

/*Task#61_5 */
.poetry p.stihi {
    color: red;
}

/*Task#61_6 */

.sss .www .kkk { 
    color: red; 
}

/* Task#62_1 */

 p.KINO {
	color: red;
} 

/* Task#62_3*/

.metallica p.nirvana {
	color: red;
} 

/* Task#62_4 */

.titanic p .ocean {
	color: red;
} 

/* Task#63_1 */

.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

/*Task#63_2*/

.bold {
    font-weight: bold; /* Жирный текст */
}
.blue {
    color: blue; /* Синий цвет текста */
}
.center {
    text-align: center; /* Текст по центру */
}


