/* Task#61_1 */

.eee .bbb {
            color: red;
        }
 /* Task#61_2*/

 .winx h2 {
     color: red;
        }

/* Task#61_3 */

.nature h2.lake {
    color: red;
}

/* Task#61_4 */

.love h3.kiss {
	color: red;
}

/*Task#61_5 */
.poetry p.stihi {
    color: red;
}

/*Task#61_6 */

.sss .www .kkk { 
    color: red; 
}

/* Task#62_1 */

 p.KINO {
	color: red;
} 

/* Task#62_3*/

.metallica p.nirvana {
	color: red;
} 

/* Task#62_4 */

.titanic p .ocean {
	color: red;
} 

/* Task#63_1 */

.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

/*Task#63_2*/

.bold {
    font-weight: bold; /* Жирный текст */
}
.blue {
    color: blue; /* Синий цвет текста */
}
.center {
    text-align: center; /* Текст по центру */
}

/*Task#64 */

 #elem1 {
    color: red;
}

#elem2 {
    color: green;
}

#elem3 {
    color: blue;
} 

/*Task#65*/
 #block {
	color: rgb(255, 0, 170);
	font-family: Verdana;
}
.text {
	font-size: 45px;
} 


/* Task#66_1 */
#element h2 {

    color: rgb(0, 217, 255);
    font-family: "Courier New";
} 

/* Task#66_2 */
#element2 .text1 {
    color: rgb(12, 14, 99);
    font:  40px Arial; 
}

/* Task#66_3*/

#element3 p.text3 {
    color: blue; 
    font:  40px Verdana ; 

}

/* Task#66_4*/

#element4 li.text4 {
    color: gold;
}