.tittle {
    h1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium';
    }
}

/*task#203*/
.parent_203	{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child_203 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

/*task#204*/
.parent_204	{
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child_204 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

    
				