/*Task_80_1*/

[title] {
    color: blue; 
    font-weight: bold;
}

/*Task_80_2*/

p[title1] {
    color: purple; /* Пример стиля - текст будет фиолетовым */
    font-style: italic; /* Пример стиля - курсив */
}

/*Task_80_3*/
p[title3="hello"] {
    color: blue;
    font-weight: bold;
}

/*Task_80_4*/
a[href^="http://"] {
    color:rgb(136, 255, 0);
    text-align: center;
}

/*Task_80_5*/

a[href$=".html"] {
    color: green;
}

/*Task_80_6*/

p[title4*="hello"] {
    font-weight: bold;
}

/*Task_80_7*/
p[class^="top-"] {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

/*Task_82*/
a:link {
    color: blue; /* Голубой цвет для ссылок, которые еще не посещены */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
}

a:visited {
    color: green; /* Зеленый цвет для посещенных ссылок */
    text-decoration: none; /* Убирает подчеркивание */
}

a:hover {
    color: red; /* Красный цвет при наведении на ссылку */
    text-decoration: none; /* Убирает подчеркивание при наведении */
}

a:active {
    color: black; /* Черный цвет при нажатии на ссылку */
    text-decoration: none; /* Убирает подчеркивание при нажатии */
}

/* Task#84*/

.custom-links a {
    color: blue; /* Голубой цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}
.custom-links a:hover {
    color: red; /* Красный цвет при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Task#85*/

#test a {
	color: red;
}
#test a:hover {
	text-decoration: none;
}

/*Task#86_1*/
a.task_86_1 {
	color: red;
}
a.task_86_1:hover {
	text-decoration: none;
}

/*Task#86_2*/

#block_86_2 a.task_86_2 {
	color: red;
}
#block_86_2 a.task_86_2:hover {
	text-decoration: none;
}

/*Task#86_3*/

.block_86_3 a.task_86_3 {
	color: red;
}
.block_86_3 a.task_86_3:hover {
	text-decoration: none;
}

/* Task#87_1 */
.task87_1 li:first-child{
    color :rgb(255, 0, 0);
}

/* Task#87_2 */
.task87_2 li:last-child{
    color : green;
}
/* Task#87_3 */
.task87_3 li:first-child{
    color :rgb(255, 0, 0);
}
.task87_3 li:last-child{
    color : green;
}
/* Task#87_4 */
.task87_4 li:nth-child(3){
    color : red;
}
/* Task#87_5 */
.task87_5 li:nth-child(odd){
    color:red;
}
.task87_5 li:nth-child(even){
    color: green;
}
/* Task#87_6 */
.task87_6 li:nth-child(3n){
    color:red;
}
/* Task#87_7 */
.task87_7 li:nth-last-child(2){
    color:red; 
}
/* Task#87_8 */
.task87_8 li:only-child {
	color: red;
}

.task87_8 ul {
	margin-bottom: 10px;
}
/* Task#87_9 */
.task87_9 li {
    border: 1px solid red;
    width: 100px;
    padding: 3px;
    margin-top: 10px;
   }
.task87_9 li:empty {
    border: 1px solid blue;
   }

   .task_88_1 {
     /* Применение стиля к третьему элементу среди всех абзацев */
     p:nth-of-type(3) {
        color: blue;
        font-weight: bold;
    }

    /* Применение стиля ко второму элементу среди заголовков h2 с конца */
    h2:nth-last-of-type(2) {
        color: green;
    }
}

.task_88_2 {
      /* Применение стиля к первому элементу среди абзацев */
      p:first-of-type {
        color: purple;
        font-style: italic;
    }

    /* Применение стиля к последнему элементу среди заголовков h2 */
    h2:last-of-type {
        color: orange;
        text-transform: uppercase;
    }
}

.task_88_3 {
       /* Применение стиля к элементу, если он единственный своего типа */
       p:only-of-type {
        color: darkred;
        font-size: 1.5em;
        text-align: center;
    }

    /* Применение стиля к единственному заголовку h2, если он есть */
    h2:only-of-type {
        color: darkblue;
    }
}

/* Task#89_1 */
.task_89_1 li:not(li.elem89_1){
    color: rgb(255, 51, 85);
}
/* Task#89_2 */
.task_89_2 li:not(:first-child) {
    color: skyblue;
}
/* Task#89_1 */
.task_89_3 li:not(:first-child, :last-child){
    color: royalblue;
}