/*Task_71_1*/

#block h1,
#block h2,
#block h3
 {
	text-align: center;
}
#block h2 {
	color: blue;
}
#block h3 {
	font-size: 16px;
	color: red;
}

/*Task_71_2*/

#block1 h1.eee,
#block1 h2.zzz {
	text-align: center;
}

#block1 h2.zzz {
	font-size: 20px;
}

#block1 h1.eee {
	font-size: 30px;
}

/*Task_71_3*/

.xxx .kkk, 
.eeee h2.zzzz, 
#eeee h2 {
	text-align: center;
}

/*Task_71_3*/

.ee h2.zz,
.xx {
            text-align: center;
        }

/*Task_72_1*/
div p {
    color: blueviolet;
}

/*Task_72_2*/
div h2 {
    color:aqua
}

/*Task_72_3*/
#bloock p{
    color:rgb(157, 255, 0)
}

/*Task_72_5*/

.bbb{
    color : lightcoral
}

/*Task_72_6*/
#blocck .bbcb {
text-align : center;
color:darkmagenta; 
}

/*Task_72_7*/
p.bbbk{
    font-size: 40px;
    color :darkgoldenrod;
}

/*Task_72_8*/
h2.bbb1 {
    font-size: 30px;
    color :rgb(255, 0, 0);
}

/*Task_72_9*/
#block2 p.bbb2 {
    font-size: 35px;
    color:cornflowerblue;
}

/*Task_72_11*/
p.bbb4, h2.xxx4 {
    text-align : center;
    color:blue ;
}

/*Task_72_12*/
#block5 p.bbb5, #block5 p.xxx5 {
    font-size: 35px;
    text-align : center;
    color:rgb(208, 255, 0) ;

}

.fff6 h2.bbb6 {
    font-size: 45px;
    text-align : center;
    color:rgb(218, 155, 2) ;
}
