
div {
    width: 100px;               /* Ширина квадратов */
    height: 100px;              /* Высота квадратов */
    margin: 80px 0;             /* Отступы сверху и снизу */
}
#elem174_1 {
    border: 1px solid red;
    left: 40px;
    top: 40px;
}

#elem174_2 {
    border: 1px solid blue;
    left: 110px;
    top: 110px; 
}

#elem174_3 {
    border: 1px solid green;
    left: 180px;
    top: 180px;
}

#elem174_1, #elem174_2, #elem174_3{
    width: 50px;
    height: 50px;
    position: absolute;
}

#elem174_4 {
    border: 1px solid red;
    left: 40px;
}

#elem174_5 {
    border: 1px solid blue;
    left: 110px;
}

#elem174_6 {
    border: 1px solid green;
    left: 180px;
}

#elem174_4, #elem174_5, #elem174_6{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
}

#elem174_7 {
    border: 1px solid red;
    left: 40px;
    top: 420px;
}

#elem174_8 {
    border: 1px solid blue;
    left: 70px;
    top: 450px;
}

#elem174_9 {
    border: 1px solid green;
    left: 100px;
    top: 480px;
}

#elem174_7, #elem174_8, #elem174_9{
    width: 50px;
    height: 50px;
    position: absolute;
}

#elem174_10 {
    background-color:  #FF8888;
    left: 40px;
    top: 600px;
}

#elem174_11 {
    background-color: #7E89EB;
    left: 70px;
    top: 630px;
}

#elem174_12 {
    background-color: #4DEE99;
    left: 100px;
    top: 660px;
}

#elem174_10, #elem174_11, #elem174_12{
    width: 50px;
    height: 50px;
    position: absolute;
}